@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@mixin for-size($size) {
  @if $size == phone-only {
    @media (max-width: 599px) { @content; }
  } @else if $size == tablet-portrait-up {
    @media (min-width: 600px) { @content; }
  } @else if $size == tablet-landscape-up {
    @media (min-width: 900px) { @content; }
  } @else if $size == desktop-up {
    @media (min-width: 1200px) { @content; }
  } @else if $size == big-desktop-up {
    @media (min-width: 1800px) { @content; }
  }
}

.jss5 {
  flex-grow: 1;
  background-color: #fff!important; 
}
body {
    background-color: #000000 !important;
    font-family: "Lato", sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.MuiTypography-body1, h3, h1,span,div {
    font-family: "Lato", sans-serif !important;
    background: transparent;
}
.MuiBox-root, .makeStyles-root-5 , .MuiBox-root-19, .makeStyles-root-1{
    background-color: transparent!important;
}

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

.header2 {display:flex;
    flex-direction: column;
    justify-content: center;    align-items: center;
     background: url('./assets/top-header.jpg') no-repeat top center; min-height: 410px; }
.header2 .beneficios-pra-vc { font-family: 'Rubik', sans-serif; font-size: 1.3em; position: relative; top: 30px; color: #fff; }
.header2 p {     font-family: 'Rubik', sans-serif;
    font-size: 1.3em;
    position: relative;
    top: 30px;
    color: #fff; }
.header2 p span { font-weight: 500; }
.header2 .seta-aqui { position: relative; top: 15px; left: -15px; }

.iconButton{
    padding: 10;
}

.divider {
    height: 28;
    margin: 4;
  }

  .input {
    margin-left: 10;
    width: 100%;
    flex: 1;
  }
  .boxSearch{
      display: flex;
      flex-direction: row;
      margin-bottom: 20px;
  }

  .MuiBox-root-15 {
      padding: 0!important;
  }

  .MuiAppBar-colorPrimary{
      background-color: transparent!important;
  }

  .MuiTabs-flexContainer {
    justify-content: space-between!important;
    display: flex;
}


.beneficios-pra-vc{font-family: 'Rubik', sans-serif;
font-size: 1.3em;
position: relative;
top: 160px;
color: #fff;}

 .alert-link {
    color: #533f03!important;
    cursor: pointer;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #003b4d; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #00070f; 
  }

  .garanta-brindes[data-v-fae5bece] {
    font-family: "Rubik", sans-serif;
    font-size: 1.3em;
    color: #fff;
    margin-top: 10px;
    border-bottom: 1px solid #7cb545;
}

.MuiButtonBase-root .MuiAccordionSummary-root{
  display: none!important;
}
.regras:hover{
  text-decoration: underline;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.caixa-off{
  display: "flex";
  align-items: center;
  font-weight: "bold";
  height: 100%!important;
  font-size: 32px;
  color: "#63666C";
}

@media screen and (min-width: 0px) and (max-width: 400px) {
  .hide-mobile { display: none; }  /* show it on small screens */
}

@media screen and (min-width: 401px) and (max-width: 1024px) {
  .hide-mobile{ display: block; }   /* hide it elsewhere */
}
@media only screen and (min-width : 320px) {
  .MuiTabs-flexContainer {
    display: flex;
    flex-wrap: wrap!important;
    justify-content: center!important;
  }
  .header2{
    margin-bottom: -50px;
  }
  .btn_full{
    width: 100%!important;
    height: 70px!important;
    margin-top: 15px!important;
  }
  .MuiContainer-root .MuiContainer-fixed {
    padding-left: 0px!important;
     padding-right: 0px!important;
  }
  .MuiBox-root{
    padding-left: 0px!important;
     padding-right: 0px!important;
  }
  .caixa-off{
    justify-content: center;
    display: flex;
    font-weight: "bold";
    height: 50px;
    font-size: 32px;
    color: "#63666C";
  }
}